.App{
    text-align: center;
    font-family: 
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Helvetica Neue,
      Arial,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol;
    margin:0;
}

.Todo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.todo-list-item{
    width: 60%;
    flex-wrap:wrap;
}

.deleteBtnStyle{
    font-size: 20px;
}

.edit-todo-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 34px;
}

.add-todo-ctn div, .add-todo-ctn button{
    margin:10px
}
